div.grid {
  display: inline-block;
}

ul.row {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.tile {
  width: 30px;
  height: 30px;
}

.tile:disabled {
  background: grey;
  color: white;
}
